<% provide :page_title, t(".title") %>
<div class="main main-raised">
  <div class="section section-basic custom-background">
    <div class="container">
      <% if @books.any? %>
        <div class="flat-projects">
          <ul class="projects-filter style1 margin60">
            <%= search_form_for @q, method: :get, class: "pull-right search-form" do |f| %>
              <%= f.search_field :name_or_content_or_publisher_name_or_authors_name_cont, class: "field-search" %>
              <%= f.submit t("books.search"), name: nil, class: "style-display" %>
            <% end %>
            <li class="active"><a data-filter="*" href="#"><%= t "books.all" %></a></li>
            <% @categories.each do |category| %>
              <li><%= link_to category.name, "#",
                data: {filter: ".#{category.id}"} %></li>
            <% end %>
          </ul>
          <div class="projects-items book_items">
            <%= render @books %>
          </div>
          <div class="col-sm-6 offset-sm-4">
            <%= paginate @books, theme: "twitter-bootstrap-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
