<tr>
  <td class="row"><%= book_counter + Settings.counter %></td>
  <td><%= image_tag book.image_url %></td>
  <td><%= link_to book.name, admin_book_path(book) %></td>
  <td><%= book.category_name %></td>
  <td><%= book.publisher_name %></td>
  <td><%= book.number_of_page %></td>
  <td><%= book.status %></td>
</tr>
