<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :page_title %></title>
    <%= render "layouts/admin/default" %>
  </head>
  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <%= render "layouts/admin/menu" %>
        <%= render "layouts/admin/header" %>
        <% flash.each do |message_type, message| %>
          <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <% end %>
        <%= yield %>
        <%= render "layouts/admin/footer" %>
      </div>
    </div>
  </body>
</html>
