<% provide :title, @user.name %>
<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <%= render "layouts/flash" %>
      <div class="row">
        <aside class="col-md-12">
          <section class="user_info">
            <%= image_tag @user.gravatar_url, alt: @user.name, class: "avata col-sm-4" %>
            <h1 class="col-sm-8">
              <%= @user.name %>
            </h1>
            <section class="stats col-sm-3">
              <%= render "shared/stats" %>
            </section>
            <section class="col-sm-7 follow-form">
              <%= render "follow_form", inactive_relationships: @inactive_relationships, active_relationships: @active_relationships if logged_in? %>
            </section>
          </section>
        </aside>
      </div>
    </div>
  </div>
</div>
