<div class="main main-raised">
  <div class="section section-basic custom-background">
    <div class="container">
      <%= render "layouts/flash" %>
      <div class="flat-projects">
        <ul class="projects-filter style1">
          <%= form_tag books_path, method: :get, class: "pull-right search-form" do %>
            <%= text_field_tag :search, params[:search], class: "field-search" %>
            <%= submit_tag t("books.search"), name: nil, class: "style-display" %>
          <% end %>
          <li class="active"><a data-filter="*" href="#"><%= t "books.all" %></a></li>
          <% @categories.each do |category| %>
            <li><%= link_to category.name, "#",
              data: {filter: ".#{category.id}"} %></li>
          <% end %>
        </ul>
          <div class="book-export">
            <p class="col-sm-2 pull-right export" >
            <%= t "export.download" %>
            <%= link_to t("export.csv"), books_path(format: "csv", search: params[:search]) %> |
            <%= link_to t("export.excel"), books_path(format: "xls", search: params[:search]) %></p>
          </div>
        <div class="projects-items book_items">
          <%= render @books %>
        </div>
        <div class="col-sm-6 offset-sm-3">
          <%= paginate @panigatable, theme: "twitter-bootstrap-3" %>
        </div>
      </div>
    </div>
  </div>
</div>
