<div>
  <%= form_tag books_path, method: :get, class: "col-sm-4 offset-sm-8" do %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag t("books.search"), name: nil, style: "display: none" %>
  <% end %>
</div>
<div class="flat-projects">
  <ul class="projects-filter style1">
    <li class="active"><a data-filter="*" href="#"><%= t "books.all" %></a></li>
    <% @categories.each do |category| %>
      <li><%= link_to category.name, "#",
        data: {filter: ".#{category.id}"} %></li>
    <% end %>
  </ul>
  <div class="projects-items">
    <% @books.each do |book| %>
    <div class="projects flat-column-4 hentry <%= book.category.id %>">
      <div class="project-wrap">
        <div class="project-thumbnail">
          <%= image_tag book.image if book.image? %>
        </div>
        <div class="project-info">
          <div class="project-info-wrap">
            <h3 class="project-title">
              <%= link_to book.name, book %>
            </h3>
            <ul class="project-categories">
              <li><%= book.name %></li>
              <li><%= book.status %></li>
            </ul>
            <h6 class="project-buttons">
              <a href="portfolio-single-list.html" class="flat-button">Quick View</a>
            </h6>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
  <div class="col-sm-6 offset-sm-3">
    <%= paginate @books, theme: "twitter-bootstrap-3" %>
  </div>
