<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <%= render "layouts/flash" %>
      <div>
        <%= form_tag books_path, method: :get, class: "col-sm-4 offset-sm-8" do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag t("books.search"), name: nil, style: "display: none" %>
        <% end %>
      </div>
      <div class="flat-projects">
        <ul class="projects-filter style1">
          <li class="active"><a data-filter="*" href="#"><%= t "books.all" %></a></li>
          <% @categories.each do |category| %>
            <li><%= link_to category.name, "#",
              data: {filter: ".#{category.id}"} %></li>
          <% end %>
        </ul>
        <div class="projects-items">
          <%= render @books %>
        </div>
      </div>
      <div class="col-sm-6 offset-sm-3">
        <%= paginate @books, theme: "twitter-bootstrap-3" %>
      </div>
      <p>
        <%= t "export.download" %>
        <%= link_to t("export.csv"), books_path(format: "csv", search: params[:search]) %> |
        <%= link_to t("export.excel"), books_path(format: "xls", search: params[:search]) %>
      </p>
    </div>
  </div>
</div>
