<div class="main main-raised">
  <div class="section section-basic">
    <div class="container">
      <%= render "layouts/flash" %>
      <div class="row">
        <div class="col-sm-12 custom-background">
          <div class="col-sm-3 padding-custom">
            <%= image_tag @book.image if @book.image? %>
          </div>
          <div class="col-sm-9 style-padding">
            <div class="row">
              <h1 class="book-name"><%= @book.name %></h1>
              <div class="star2" data-id="<%= @book.id %>">
                <%= rating_for @book, "like", disable_after_rate: false %>
              </div>
              <div class="star1">
                <%= render "star", book: @book, layout: false %>
              </div>
              <%= social_share_button_tag @book.name %>
            </div>
            <div class="row">
              <p class="publisher"><%= t "books.author" %></p>
              <% @book.authors_books.each do |ba| %>
                <p class="publisher-info"><%= ba.name %></p>
              <% end %>
            </div>
            <div class="row">
              <p class="publisher"><%= t "books.publisher" %></p>
              <p class="publisher-info"><%= @book.publisher_name %></p></br>
              <p class="publisher-info"><%= t "publishers.phone" %><%= @book.publisher_phone %></p></br>
              <p class="publisher-info"><%= t "publishers.address" %><%= @book.publisher_address %></p></br>
            </div>
            <div class="row">
              <section class="stats col-sm-3">
                <%= render "follow_books/stats" %>
              </section>
              <section class="stats col-sm-2">
                <%= render "like_books/stats" %>
              </section>
            </div>
            <% if user_signed_in? %>
              <div class="row">
                <section class="col-sm-3">
                  <%= render "follow_form", follow_book: @follow_book %>
                </section>
                <section class="col-sm-2">
                  <%= render "like_form", like_book: @like_book %>
                </section>
              </div>
              <div>
                <% if @book.ready? %>
                  <div id="modals">
                      <div class="row">
                        <i class="fas fa-check-double col-sm-3 green"> <%= t "books.#{@book.status}" %></i>
                        <button class="btn btn-primary slyte-btn" data-toggle="modal" data-target="#myModal">
                          <%= t "books.borrow" %>
                        </button>
                      </div>
                  </div>
                <% else %>
                  <i class="fas fa-exclamation col-sm-3 red"> <%= t "books.#{@book.status}" %></i>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div class="col-sm-12 content">
          <div class="content-book">
            <p><%= @book.content %></p>
          </div>
          <div class="comment-content">
            <div id="load_comment-<%= @book.id %>" class="container">
              <%= render @comments %>
            </div>
            <% if user_signed_in? %>
              <div id="comment_form" class="offset-sm-1">
                <%= render "comments/form", book: @book, user: current_user %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if user_signed_in? %>
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="container">
        <%= form_for [current_user, @borrow] do |f| %>
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :started_at, t("books.started_at"), class: "label-control" %>
                  <%= f.text_field :started_at, class: "form-control datetimepicker datetimepicker1",
                    required: true %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= f.label :finished_at, t("books.finished_at"), class: "label-control" %>
                  <%= f.text_field :finished_at, class: "form-control datetimepicker datetimepicker2",
                    required: true %>
                </div>
              </div>
            </div>
          </div>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :book_id, value: @book.id %>
          <%= f.hidden_field :status, value: "waiting" %>
          <div class="ln_solid col-sm-12"></div>
          <div class="form-group">
            <div class="col-sm-6 offset-sm-3">
              <%= f.submit t("books.borrow"), class: "btn btn-block btn-primary" %>
            </div>
          </div>
        <% end %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger btn-link" data-dismiss="modal"><%= t "books.close" %></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
