<tr>
  <td class="row"><%= user_counter + Settings.counter %></td>
  <td><%= link_to user.name, admin_user_path(user) %></td>
  <td><%= user.email %></td>
  <td><%= user.role %></td>
  <td><%= link_to t("users.edit"), edit_admin_user_path(user) %></td>
</tr>
