<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :page_title %></title>
    <%= render "layouts/default" %>
  </head>
  <body class="index-page sidebar-collapse">
    <%= render "layouts/header" %>
    <div class="main main-raised">
      <div class="section section-basic">
        <div class="container">
          <%= yield %>
        </div>
      </div>
    </div>
      <%= render "layouts/footer" %>
  </body>
</html>
